* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
}

.container {
  align-self: center;
  max-width: 780px;
  height: 450px;
  margin: auto;
  background: white;
  -webkit-box-shadow: 0px 24px 16px -8px rgba(50, 50, 50, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

/* Image styling */

.faq-image {
  height: 100%;
  width: 50%;
  background-image: url(./images/bg-pattern-desktop.svg),
    url(./images/illustration-woman-online-desktop.svg);
  background-position: -24.875rem -14.75rem, -3.125rem center;
  background-repeat: no-repeat;
  background-size: 43.625rem 48.95rem, 21.875rem 20rem;
  position: relative;
}

/* Image container --start-- */

.box-img {
  width: 180px;
  height: 170px;
  position: relative;
  left: -98px;
  top: 180px;
  z-index: 1;
}

/* Image container --end-- */

/* FAQ container -----Start -----*/

.faq-container {
  width: 50%;
  margin-bottom: 0px;
}
.paragraph-heading {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

h1 {
  font-size: 25px;
  color: hsl(237, 12%, 33%);
  margin: 70px auto 30px auto;
}
.faq-item {
  margin: 10px 0;
  width: 80%;
  font-size: 12px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

.arrow {
  height: 10px;
  width: 10px;
  margin: auto 0;
  transition: all 0.5s ease-in-out;
}

.paragraph-header {
  font-weight: 400;
  margin: 5px 0 5px 0;
}

.paragraph-body {
  margin: 10px 0;
  line-height: 1.6;
  overflow: hidden;
  visibility: hidden;
  color: hsl(0, 0%, 64%);
}

hr {
  border-style: none;
  border-bottom: 1px solid rgb(230, 229, 229);
  width: 80%;
  margin-top: 10px;
}

/* JavaScript Classes */

.height-auto {
  height: auto;
}
.show {
  visibility: visible;
  overflow: visible;

  height: auto;
}
.up {
  transform: rotate(180deg);
}
.faq-auto {
  height: auto;
}
.weight {
  font-weight: 700;
}

.attribution {
  text-align: center;
}
@media (max-width: 802px) {
  .container {
    max-width: 85%;
  }
}
@media (max-width: 740px) {
  body {
    height: 100%;
  }
  .box-img {
    visibility: hidden;
  }

  .container {
    max-width: 80%;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    margin: 180px auto 20px auto;
  }
  .faq-container {
    width: 80%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 150px;
    justify-content: space-evenly;
  }
  .faq {
    margin-top: 0px;
  }
  .faq-image {
    width: 100%;
    margin: 0 auto;
    background-image: url(./images/bg-pattern-mobile.svg),
      url(./images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    background-size: 240px 100px, 280px 280px;
    background-position: 50% bottom, 5px bottom;
    background-repeat: no-repeat;
    position: relative;
    bottom: 180px;
    height: 300px;
  }
  .faq-item {
    width: 100%;
    margin: 10px auto 0 auto;
  }

  hr {
    width: 100%;
  }
  .faq-container {
    width: 80%;
  }
}
